language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

env:
  matrix:
    - PHPUNIT_VERSION="5.6"
    - PHPUNIT_VERSION="6.5"
  global:
    - PATH=$PATH:vendor/bin

matrix:
  exclude:
  - php: 5.6
    env: PHPUNIT_VERSION="6.5"

install:
  - if [[ "$PHPUNIT_VERSION" = "6.5" ]]; then composer require --dev --no-update phpunit/phpunit:~6.5; fi
  - composer install
script:
  - phpunit --configuration phpunit.xml --coverage-text --coverage-clover=coverage.xml
  # Run style fixer in test mode on all source files. Will exit with a non-zero
  # return code if something needs changing.
  - php-cs-fixer fix --dry-run src
  - php-cs-fixer fix --dry-run tests

after_success:
    - bash <(curl -s https://codecov.io/bash)