<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        colors="true"
        bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="FINDOLOGIC XMl export toolkit tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <report>
            <clover outputFile="./coverage.xml"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>

    <logging/>
</phpunit>
